@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h5 class="display-4"><b>  Projeto Elevador  </b></h5>
    <ul>
        <li>Obs: As informações são passados aos métodos e variáveis na inicialização do projeto</li>
    </ul>
    <p>
        <h5><b>Este projeto mostra um funcionamento básico de um elevador onde:</b></h5>
        <ul>
            <li>Inicializa-se sempre no andar térreo e vazio</li>
            <li>Uma pessoa somente pode entrar no elevador se não tiver lotado</li>
            <li>Uma pessoa somente pode sair do elevador se este não estiver vazio</li>
            <li>O elevador somente poderá subir se estiver não estiver no último andar </li>
            <li>O elevador somente poderá descer se não estiver no Térreo</li>
        </ul>
    </p>
</div>
